---
import Footer from "../../components/Footer.astro"
import Header from "../../components/Header.astro"
import Layout from "../../layouts/Layout.astro"
import Button from "../../components/Button.astro"
---

<Layout title="Blog Page">
    <Header></Header>
    <h1>Blog Page</h1>
    <div class="Blog-action">
    <Button type="button" className="blog_page_btn" name="Blog Page Click" />
  </div>
    <Footer></Footer>
</Layout>